name: Build and deploy document

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@v3
      with:
        root_file: main.tex

    - uses: actions/upload-artifact@v4
      with:
        name: PDF
        path: main.pdf

    - uses: actions/download-artifact@v4
      with:
        name: PDF
        path: ./docs

    - name: Deploy docs
      uses: peaceiris/actions-gh-pages@v4
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir: ./docs
